* {
    margin: 0;
    padding: 0;
  }
  
  body{
    background-image: url("background\ image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  h1 {
    text-align: center;
    letter-spacing: 2px;
    color: rgb(63, 158, 95);
    font-size: 60px;
    font-weight: 250;
    font-family: "Lobster", cursive;
    padding-left: 5px;
    text-transform: capitalize;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #watchContainer {
    width: 30rem;
    height: 20rem;
    background-image: linear-gradient(rgb(171, 41, 197), 10%, rgb(3, 14, 19));
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    box-shadow: 0px 0px 10px 5px rgba(228, 151, 151, 0.856);
    padding: 10px;
  }
  
  #displayTime {
    text-align: center;
    font-size: 45px;
    color: rgb(182, 43, 19);
    font-weight: bolder;
  }
  .btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: large;
    border: none;
    margin: 0.2rem 0.8rem;
    cursor: pointer;
  }
  #startBtn {
    color: rgb(30, 30, 218);
    outline: rgb(30, 30, 218);
  }
  #startBtn:hover {
    background-color: rgb(145, 141, 141);
    color: rgb(248, 244, 244);
  }
  #stopBtn {
    color: rgb(250, 97, 9);
    outline: rgb(250, 97, 9);
  }
  #stopBtn:hover {
    background-color: rgb(145, 141, 141);
    color: rgb(248, 244, 244);
  }
  #resetBtn {
    color: rgb(241, 8, 106);
    outline: rgb(241, 8, 106);
  }
  #resetBtn:hover {
    background-color: gray;
    color: rgb(248, 244, 244);
  }
  /* /mdeia */
  @media (max-width: 500px) {
    #watchContainer {
      width: 23rem;
      height: 16rem;
    }
  }